body {
  background-color: #121212;
  background-image: none;
}
* {
  box-sizing: border-box;
}
@media screen and (max-width: 760px) {
  .rantlist-bg {
    background: #131313;
  }
}
/* Topbar */
.nav-logo,
.nav .nav-list a,
.search-bar,
.nav-more-icon,
.nav-notif-icon,
.nav-right .notif-badge {
  -webkit-filter:grayscale(100%);
  -moz-filter:grayscale(100%);
  -ms-filter:grayscale(100%);
  -o-filter:grayscale(100%);
  filter:grayscale(100%);
}
.nav-notif-icon {
  border-radius: 0px;
}
.nav-right .notif-badge {
  border-radius: 0px;
  font-size: 12px;
  line-height: 18px;
  vertical-align: baseline;
}
a.nav-avatar-circle {
  width: 50px;
  height: 50px;
  border-radius: 0;
  clip-path: 
    polygon(
      0% 20px,
      20px 0%,
      calc(100% - 0px) 0%,
      100% 0px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      4px 100%,
      0 calc(100% - 4px)
    );
}
.nav {
  position: relative;
  background-color: rgba(255,255,255,0.2);
  width: 100%;
  overflow: visible;
}
.nav:before {
  content: "⬤⬤••••                                                     ••••";
  color: #000;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  position: absolute;
  top: 60px;
  left: 0px;
  width: 98%;
  height: 30px;
  background-color: rgba(255,255,255,0.2);
  z-index: 100;
  clip-path: 
    polygon(
      0px 0px,
      180px 0px,
      190px 10px,
      25% 10px,
      calc(25% + 4px) 4px,
      calc(75% - 4px) 4px,
      75% 10px,
      calc(100% - 110px) 10px,
      calc(100% - 100px) 20px,
      calc(100% - 10px) 20px,
      100% 30px,
      calc(100% - 106px) 30px,
      calc(100% - 116px) 20px,
      110px 20px,
      100px 30px,
      0 30px
    );
}
.nav:after {
  content: "                    ⬤⬤⬤•••••";
  color: #000;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  position: absolute;
  top: 84px;
  left: 0px;
  width: 98%;
  height: 30px;
  background-color: rgba(255,255,255,0.4);
  z-index: 100;
  clip-path: 
    polygon(
      0 10px,
      102px 10px,
      112px 0px,
      calc(100% - 118px) 0px,
      calc(100% - 108px) 10px,
      100% 10px,
      calc(100% - 20px) 30px,
      100% 30px,
      70% 30px,
      calc(70% - 10px) 20px,
      calc(30% + 10px) 20px,
      30% 30px,
      0 30px
    );
}


/* Rant List Top Bar */
.top-bar-container {
  position: relative;
  z-index: 3;
  padding: 0px;
  min-height: 50px;
}
.top-bar-container:before {
  content: '';
  position: absolute;
  background: #05AFE1;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  clip-path: 
    polygon(
      10px 0px,
      30% 0px,
      calc(30% + 40px) 40px,
      90% calc(100% - 10px),
      calc(90% - 10px) 100%,
      20px 100%,
      0 calc(100% - 20px),
      0 10px
    );
}
.top-bar-title-container,
.search-title,
.top-bar-title {
  position: relative;
  z-index: 1000;
  /* background: #05AFE1; */
  padding: 6px 30px 10px 10px;
  height: 50px;
  max-height: 50px;
}
.top-bar-container {
  margin-bottom: 20px;
}
.top-bar-title {
  color: #FFF;
}
.top-bar-type-position {
  right: 10px;
  top: 3px;
}
.top-bar-types.type-active {
  position: absolute;
  opacity: 1;
  background-color: rgba(0,0,0,0.9);
  border-radius: 0;
  border: 1px solid #05AFE1;
  z-index: 99;
  clip-path: 
    polygon(
      0px 0px,
      calc(100% - 20px) 0px,
      100% 20px,
      100% 100%,
      50px 100%,
      0px calc(100% - 50px)
      
    );
}
.top-bar-types.type-active:before {
  content: "";
  background: #05AFE1;
  width: 20px;
  height: 20px;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  clip-path: 
    polygon(
      0px 0px,
      20px 0px,
      20px 20px
    );
}
.top-bar-types.type-active:after {
  content: "";
  background: #05AFE1;
  width: 50px;
  height: 50px;
  z-index: 10;
  position: absolute;
  left: -0.75px;
  bottom: 0;
  clip-path: 
    polygon(
      0px 0px,
      50px 50px,
      0px 50px
    );
}
.top-bar-filters {
  /*background: #05AFE1;*/
  height: 30px;
  padding: 10px;
  font-size: 14px;
  margin: 0;

}
.top-bar-sort,
.top-bar-times {
  border-left: 0;
  background: rgba(11,175,225,0.7);
  padding: 4px;
  height: 40px;
  margin-bottom: 20px;
  display: block;
}
.top-bar-sort {
  padding-right: 10px;
  padding-left: 34px;
  clip-path: 
    polygon(
      40px 0px,
      calc(100% - 10px) 0px,
      100% 10px,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      0 100%
    );
}
.top-bar-times {
  margin-left: -24px;
  padding-right: 10px;
  padding-left: 34px;
  clip-path: 
    polygon(
      40px 0px,
      calc(100% - 10px) 0px,
      100% 10px,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      0 100%
    );
}
.top-bar-sort a,
.top-bar-times a {
  color: #000;
  margin: 0;
  padding: 2px 4px;
}
.type-label-base {
  padding: 10px;
  border-radius: 0px;
  background: #000;
  border-top: 1px solid rgba(255,255,255,0.4);
  clip-path: 
    polygon(
      0px 0px,
      100% 0px,
      100% calc(100% - 5px),
      calc(100% - 5px) 100%,
      0px 100%
    );
}
.type-label-dropdown {
  padding: 10px;
  border-radius: 0px;
  background: #05AFE1;
  border-top: 1px solid rgba(255,255,255,0.4);
  clip-path: 
    polygon(
      0px 0px,
      100% 0px,
      100% calc(100% - 5px),
      calc(100% - 5px) 100%,
      0px 100%
    );
}
.type-dropdown-check {
  border-radius: 0px;
  background: #05AFE1;
  border: 2px solid #05AFE1;
}
.type-label-name, .type-label-name:hover {
  color: #FFF;
}
.type-downdown-label {
  font-size: 14px;
}
ul.type-dropdown li:hover .type-downdown-label {
  color: #05AFE1;
}
.top-bar-type-position .type-button {
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  background: rgba(255,255,255,0.3);
  
}
.top-bar-type-position .type-button:hover {
  background: #05AFE1;
  
}

/* Rant List */
.rantlist {
  border-radius: 0px;
}
.rantlist-title {
  font-size: inherit;
  overflow: hidden;
  
}
.rantlist-title .rantlist-title-text {
  display: block;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
box-shadow:         inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  clip-path: 
    polygon(
      10px 0px,
      calc(100% - 20px) 0px,
      100% 20px,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%,
      0 10px
    );
}
.rantlist-content-col {
  border-bottom: 0px;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 20px;
  margin-bottom: 20px;
}
.rantlist-content-col:before {
  content: "  ••••";
  vertical-align: text-top;
  line-height: 8px;
  color: #000;
  width: 100%;
  min-width: 70px;
  height: 20px;
  background: #05AFE1;
  position: absolute;
  top: 0px;
  left: 0px;
  clip-path: 
    polygon(
      0px 0px,
      90px 0px,
      100px 5px,
      calc(100% - 9px) 5px,
      100% 15px,
      100% 20px,
      calc(100% - 10px) 10px,
      10px 10px
    );
}

.rantlist-content-col:after {
  content: "••••   ";
  text-align: right;
  font-size: 20px;
  line-height: 20px;
  vertical-align: top;
  padding-top: 4px;
  color: #000;
  width: 100%;
  min-width: 70px;
  height: 20px;
  background: #05AFE1;
  position: absolute;
  bottom: 0px;
  right: 0px;
  clip-path: 
    polygon(
      11px 19px,
      calc(100% - 100px) 19px,
      calc(100% - 90px) 10px,
      calc(100% - 10px) 10px,
      100% 0px,
      100% 5px,
      calc(100% - 14px) 19px,
      calc(100% - 14px) 20px,
      11px 20px
    );
}

/* Rant List Links */
a.rantlist-comments {
  position: absolute;
  right: 14px;
  bottom: 20px;
  color: #05AFE1;
  margin: 0;
}

/* Increment Buttons */
.rantlist-vote-col .plusone {
  padding-top: 5px;
  display: block;
  float: left;
  margin-bottom: 4px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 0;
    clip-path: 
    polygon(
      0% 4px,
      4px 0%,
      calc(100% - 12px) 0%,
      100% 12px,
      100% calc(100% - 0px),
      calc(100% - 12px) 100%,
      4px 100%,
      0 calc(100% - 4px)
    );
}
.rantlist-vote-col.vote-state-upvoted .plusone {
  background-color: #05AFE1;
}
.rantlist-vote-col .minusone {
  display: block;
  float: left;
  margin-top: 4px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 0;
    clip-path: 
    polygon(
      0% 4px,
      4px 0%,
      calc(100% - 0px) 0%,
      100% 0px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      4px 100%,
      0 calc(100% - 4px)
    );
}
.votecount {
  display: block;
  transform: rotate(-90deg);
  height: 30px;
  width: auto;
  float: left;
  font-size: 14px;
  line-height: 46px;
  overflow: hidden;
  

}

/* Rant List Tags */
.rantlist .rantlist-tags {
  background: #05AFE1;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 3px 8px 3px 0;
  clip-path: 
    polygon(
      0px 0px,
      calc(100% - 10px) 0px,
      100% 10px,
      100% 100%,
      10px 100%,
      0 calc(100% - 10px)
    );
}
.rantlist .rantlist-tags a {
  height: 22px;
  position: relative;
  border-radius: 0;
  border-color: #131313;
  font-size: 0.6rem;
  margin: 0 0 4px 4px;
  background: #131313;
  clip-path: 
    polygon(
      0px 0px,
      calc(100% - 6px) 0px,
      100% 5px,
      100% 100%,
      0 100%,
      0 15px,
      0 100%
    );
}
.rantlist .rantlist-tags a:first-child {
  clip-path: 
    polygon(
      0px 0px,
      calc(100% - 6px) 0px,
      100% 5px,
      100% 100%,
      0 100%,
      8px 100%,
      0 calc(100% - 8px)
    );
}
.rantlist-tags a:hover {
  color: #05AFE1;
}

/* Rant List Image */
.rant-image {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0;
  background: #05AFE1;
  margin-bottom: 6px;
  clip-path: 
    polygon(
      0% 20px,
      20px 0%,
      calc(100% - 50px) 0%,
      100% 50px,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      20px 100%,
      0 calc(100% - 20px)
    );
}
.rant-image img {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: relative;
  top: 0;
  left: 0;
  margin: 3px;
  background: rgba(0,0,0,0.4);
  clip-path: 
    polygon(
      0% 20px,
      20px 0%,
      calc(100% - 50px) 0%,
      100% 50px,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      20px 100%,
      0 calc(100% - 20px)
    );
}

/* Floating App Button */
.addrant-btn {
  background: #05AFE1;
  left: auto;
  right: 10px;
  bottom: 10px;
  border-radius: 0;
  clip-path: 
    polygon(
      0% 20px,
      20px 0%,
      calc(100% - 0px) 0%,
      100% 0px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      4px 100%,
      0 calc(100% - 4px)
    );
}

/* Previous More */
.feed-prev-more {
  position: relative;
  padding: 0;
  margin-top: 4px;
  border-radius: 0px;
  background: transparent;
}
.feed-prev-more:after {
  content: '••••••';
  text-align: center;
  font-size: 20px;
  line-height: 10px;
  color: #000;
  width: 80%;
  height: 20px;
  background: #05AFE1;
  position: absolute;
  left: 10%;
  opacity: 1px;
  clip-path: 
    polygon(
      20px 0px,
      100% 0px,
      calc(100% - 20px) 0,
      100% 100%,
      calc(70% + 10px) 100%,
      70% calc(100% - 10px),
      calc(30% + 10px) 10px,
      30% 20px,
      0px 100%
    );
}
.feed-prev-more div {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
}
.feed-prev-more div a.feed-prev,
.feed-prev-more div a.feed-more {
  padding: 0 8px;
  background: #05AFE1;
}
.feed-prev-more div a span {
  font-size: 14px;
  line-height: 14px;
}
.feed-prev-more div a.feed-prev {
  padding-right: 30px;
  clip-path: 
    polygon(
      0% 20px,
      20px 0%,
      calc(100% - 0px) 0%,
      100% 0px,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      20px 100%,
      20px 100%
    );
}
.feed-prev-more div a.feed-more {
  padding-left: 30px;
  clip-path: 
    polygon(
      0px 0px,
      calc(100% - 20px) 0,
      100% 50%,
      calc(100% - 20px) 100%,
      30px 100%,
      0px calc(100% - 30px)
    );
}

/* Profile */
.box-content {
  padding:20px;
  background: rgba(255,255,255,0.1);
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
box-shadow:         inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  clip-path: 
    polygon(
      0% 0%,
      20px 0%,
      calc(100% - 0px) 0%,
      100% 0px,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      12px 100%,
      0 calc(100% - 12px)
    );
}
.box-title-row {
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
}
.box-title-row a {
  font-size: 10px;
  padding: 4px 30px 4px 20px;
  background: rgba(255,255,255,0.05);
  clip-path: 
    polygon(
      5px 0px,
      calc(100% - 20px) 0px,
      100% 20px,
      100% 0px,
      100% 100%,
      0 100%,
      0 5px
    );
}
.box-title-row a:hover {
  color:#05AFE1;
}
.box-title {
  display: block;
  float: left;
  padding: 8px 20px 4px 20px;
  background: rgba(255,255,255,0.05);
  clip-path: 
    polygon(
      5px 0px,
      calc(100% - 10px) 0px,
      100% 10px,
      100% 100%,
      0px 100%,
      0px 5px
    );
}
.user-circle {
  border-radius: 0;
  width: 70px;
  height: 70px;
  clip-path: 
    polygon(
      0% 20px,
      20px 0%,
      calc(100% - 0px) 0%,
      100% 0px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      4px 100%,
      0 calc(100% - 4px)
    );
}
.user-info {
  cursor: pointer;
}
.user-info:hover {
  cursor: pointer;
}
.user-info:hover .user-name {
  color: #05AFE1;
}
.user-score {
  background: rgba(0,0,0,0.4);
  padding: 10px;
  border-radius: 0;
  clip-path: 
    polygon(
      0px 0px,
      100% 0px,
      100% calc(100% - 5px),
      calc(100% - 5px) 100%,
      0 20px
    );
}
.user-info:hover .user-score {
  background-color: #05AFE1;
}

/* Notifs */
.box-notifs .box-content {
  padding-bottom: 1px;
}
.notif-list li {
  margin-bottom: 10px;
}
.notif-list li:hover .notif-body-text, .notif-list li:hover .notif-body-text a {
  color: #05AFE1;
}
.notif-body {
  border: 0;
  padding-top: 8px;
  margin-bottom: 4px;
}
.notif-avatar {
  border-radius: 0;
  clip-path: 
    polygon(
      0% 20px,
      20px 0%,
      calc(100% - 0px) 0%,
      100% 0px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      4px 100%,
      0 calc(100% - 4px)
    );
}
.icon-container {
  border-radius: 0px;
  border: 1px solid rgba(0,0,0,0.5);
}

/* Swag Widget */
.btn-notif {
  opacity: 0.4;
  position: relative;
  z-index: 2;
  border-radius: 0px;
  padding: 6px 20px;
  border: 0;
  border-top: 1px solid rgba(255,255,255,0.4);
  background: #000;
  color: #FFF;
  clip-path: 
    polygon(
      0% 0%,
      20px 0%,
      calc(100% - 0px) 0%,
      100% 0px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      4px 100%,
      0 calc(100% - 4px)
    );
}
.btn-notif:hover {
  opacity: 0.8;
  color: #05AFE1;
  border-color: #05AFE1;
}
.box-signup .box-content {
  clip-path: 
    polygon(
      0% 0%,
      20px 0%,
      calc(100% - 12px) 0%,
      100% 12px,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      12px 100%,
      0 calc(100% - 12px)
    );
}

/* Tags Widget */
.body-col3 .box-profile:first-child .box-content {
  clip-path: 
    polygon(
      0% 0%,
      20px 0%,
      calc(100% - 12px) 0%,
      100% 12px,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      12px 100%,
      0 calc(100% - 12px)
    );
}
.body-col3 .rantlist-tags a {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  opacity: 0.5;
  border-radius: 0px;
  padding: 8px;
  border: 0;
  border-top: 1px solid rgba(255,255,255,0.3);
  background: #000;
  clip-path: 
    polygon(
      7px 0px,
      100% 0px,
      100% calc(100% - 7px),
      calc(100% - 7px) 100%,
      100% 100%,
      0px 100%,
      0px 7px
    );
}
.body-col3 .rantlist-tags a:hover {
  opacity: 1;
  border-color: #05AFE1;
}

/* Weekly Rant */
.box-weekly-rants li {
  border-top: 1px solid rgba(255,255,255,0.4);
  opacity: 0.7;
}
.box-weekly-rants li:hover {
  opacity: 1;
}
a.box-weekly-link .box-weekly-subtitle {
  color: rgba(255,255,255,0.5);
}
a.box-weekly-link .box-weekly-subtitle:hover {
  color: #05AFE1;
}

/* App Downloads */
.side-box.box-footer .box-content {
  clip-path: 
    polygon(
      0% 0%,
      20px 0%,
      calc(100% - 12px) 0%,
      100% 12px,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      12px 100%,
      0 calc(100% - 12px)
    );
}
.side-box.box-footer a.iphone-btn {
  background: #000;
  border-radius: 0px;
  border: 0;
  border-top: 1px solid rgba(255,255,255,0.4);
  clip-path: 
    polygon(
      0% 0%,
      20px 0%,
      calc(100% - 12px) 0%,
      100% 12px,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      12px 100%,
      0 calc(100% - 12px)
    );
}
.side-box.box-footer a.android-btn {
  background: #000;
  border-radius: 0px;
  border: 0;
  border-top: 1px solid rgba(255,255,255,0.4);
  clip-path: 
    polygon(
      0% 0%,
      20px 0%,
      calc(100% - 12px) 0%,
      100% 12px,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      12px 100%,
      0 calc(100% - 12px)
    );
}

/* Footer Widget */
.footer-text {
  padding: 20px;
  font-size: 12px;
  background: rgba(255,255,255,0.1);
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
box-shadow:         inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  clip-path: 
    polygon(
      0% 0%,
      20px 0%,
      calc(100% - 30px) 0%,
      100% 30px,
      100% 80px,
      calc(100% - 20px) 100px,
      calc(100% - 20px) calc(100% - 30px),
      calc(100% - 50px) 100%,
      12px 100%,
      0 calc(100% - 12px)
    );
}
.footer-text ul.footer-text-col {
  font-size: 14px;
}
.footer-text ul.footer-text-col li {
  color: rgba(255,255,255,0.7);
}
.footer-text-links, .footer-text-links a {
  color: rgba(255,255,255,0.2);
}

/* Rant Page Overrides */
.is-rant .nav:before {
  background: #424242;
}
.is-rant .rant-banner .rantlist-content-col:before,
.is-rant .rant-banner .rantlist-content-col:after {
  /* background: #424242;*/
  background: rgba(255,255,255,0.4);
  color: #FFF;
}
.is-rant .rant-extras {
  margin-bottom: 20px;
  margin-right: 10px;
}
.is-rant .rantlist-tags {
  padding: 0;
  margin: 0;
}
.is-rant .rantlist-tags a {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  opacity: 0.5;
  border-radius: 0px;
  padding: 8px;
  margin-left: 10px;
  border: 0;
  height: 30px;
  border-top: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.4);
  clip-path: 
    polygon(
      7px 0px,
      100% 0px,
      100% calc(100% - 7px),
      calc(100% - 7px) 100%,
      100% 100%,
      0px 100%,
      0px 7px
    );
}
.is-rant .rant-detail-avatar {
  background: #424242;
  background: -moz-linear-gradient(top,  #424242 0%, #131313 100%);
  background: -webkit-linear-gradient(top,  #424242 0%,#131313 100%);
  background: linear-gradient(to bottom,  #424242 0%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#131313',GradientType=0 );

}
.is-rant .rant-avatar-scroll img {
  clip-path: 
    polygon(
      0px 0px,
      101% 0px,
      101% calc(100% - 20px),
      50% calc(100% - 20px),
      calc(50% - 40px) 100%,
      0px 100%
    );
}

/* Comment Button */
.is-rant .rant-btm-btns {
  right: 10px;
  bottom: 10px;
}
.is-rant .rant-btm-btns .share-icons {
  display: none;
}
.is-rant .rant-btm-btns .addcomment-btn {
  position: relative;
  width: 70px;
  height: 70px;
  background: #05AFE1;
  left: auto;
  right: 10px;
  bottom: 10px;
  border-radius: 0;
  clip-path: 
    polygon(
      0% 20px,
      20px 0%,
      calc(100% - 0px) 0%,
      100% 0px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      4px 100%,
      0 calc(100% - 4px)
    );
  color: #05AFE1
}
.is-rant .rant-btm-btns .addcomment-btn:after {
  content: '';
  width: 40px;
  height: 40px;
  position:absolute;
  top: 17px;
  left: 15px;
  background: rgba(255,255,255,0.7);

  clip-path: 
    polygon(
      0px 0px,
      40px 0px,
      40px 30px,
      30px 30px,
      25px 40px,
      20px 30px,
      0px 30px
    );
}
.is-rant .rantlist-reply {
  margin-left: 10px;
  margin-bottom: 10px;
  color: #05AFE1;
}

/* Mobile Overrides */
@media screen and (max-width: 760px) {
  .main-cols {
    display: grid;
    overflow: hidden;
    grid-template-columns: flex flex;
    grid-template-rows: flex flex;
    grid-column-gap: 10%;
  }
  .body-col1 {
    width: 90%;
    margin-top: 20px;
    display: block;
    grid-column: 1;
    grid-row: 1;
    min-width: auto;
  }
  .body-col2 {
    width: 92%;
    margin-left: 4%;
    background: none;
    display: block;
    grid-row: 2;
    grid-column: 1 / span 2;
    min-width: auto;
  }
  .body-col3 {
    width: 90%;
    margin-top: 20px;
    grid-row: 1;
    display: block;
    margin-left: 0px;
    min-width: auto;
  }
  .top-bar-container {
    display: flex;
    width: 100%;
  }
  .side-box.box-footer .box-content {
    display: none;
  }
  .side-box.box-signup {
    display: none;
  }
  .notif-list {
    margin-top: 10px;
  }
  .box-footer {
    display: none;
  }
  .nav-right {
    display: block;
  }
}